docling==2.39.0
docling-core==2.39.0

# Utilities
fire==0.7.0

# Kubeflow Pipelines
kfp[kubernetes]>= 2.13.0

# Vector database and LlamaStack
llama-stack==0.2.12
llama-stack-client==0.2.14

# Audio processing and ASR
openai-whisper==20250625
pathlib2==2.3.7.post1
pymilvus==2.5.12
requests==2.32.4
sentence-transformers==5.0.0

sqlalchemy==2.0.41
torch==2.7.1
torchaudio==2.7.1

# Embedding and text processing
transformers==4.53.0
whisper==1.1.10
