llama_stack==0.2.12
ragas==0.2.15
langchain-together==0.3.0
pandas==2.3.0
langchain-groq==0.3.5
RapidFuzz==3.13.0
sacrebleu==2.5.1
python-dotenv==1.1.1
langchain-huggingface==0.3.0
sentence-transformers==5.0.0
