langchain-groq==0.3.5
langchain-huggingface==0.3.0
langchain-together==0.3.0
llama-stack==0.2.12
pandas==2.3.0
python-dotenv==1.1.1
ragas==0.2.15
RapidFuzz==3.13.0
sacrebleu==2.5.1
sentence-transformers==5.0.0
